# Data gathering and explode

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"F:\Project\Technology Trend\stack-overflow-developer-survey-2025\survey_results_public.csv")
df.head()

,ResponseId,MainBranch,Age,EdLevel,Employment,EmploymentAddl,WorkExp,LearnCodeChoose,LearnCode,LearnCodeAI,...,AIAgentOrchestration,AIAgentOrchWrite,AIAgentObserveSecure,AIAgentObsWrite,AIAgentExternal,AIAgentExtWrite,AIHuman,AIOpen,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,25-34 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed,"Caring for dependents (children, elderly, etc.)",8.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,Vertex AI,NaN,NaN,NaN,ChatGPT,NaN,When I don’t trust AI’s answers,"Troubleshooting, profiling, debugging",61256.0,10.0
1,2,I am a developer by profession,25-34 years old,"Associate degree (A.A., A.S., etc.)",Employed,NaN,2.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers;When I want to...,All skills. AI is a flop.,104413.0,9.0
2,3,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",None of the above,10.0,"Yes, I am not new to coding but am learning ne...",Online Courses or Certification (includes all ...,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,ChatGPT;Claude Code;GitHub Copilot;Google Gemini,NaN,When I don’t trust AI’s answers;When I want to...,"Understand how things actually work, problem s...",53061.0,8.0
3,4,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed,None of the above,4.0,"Yes, I am not new to coding but am learning ne...","Other online resources (e.g. standard search, ...","Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,ChatGPT;Claude Code,NaN,When I don’t trust AI’s answers;When I want to...,NaN,36197.0,6.0
4,5,I am a developer by profession,35-44 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...","Caring for dependents (children, elderly, etc.)",21.0,"No, I am not new to coding and did not learn n...",NaN,"Yes, I learned how to use AI-enabled tools for...",...,NaN,NaN,NaN,NaN,NaN,NaN,When I don’t trust AI’s answers,"critical thinking, the skill to define the tas...",60000.0,7.0

In [3]:
df.shape

(49123, 170)

In [4]:
df.dtypes.tolist()

[dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64')]

In [5]:
df.columns.tolist()

['ResponseId',
 'MainBranch',
 'Age',
 'EdLevel',
 'Employment',
 'EmploymentAddl',
 'WorkExp',
 'LearnCodeChoose',
 'LearnCode',
 'LearnCodeAI',
 'AILearnHow',
 'YearsCode',
 'DevType',
 'OrgSize',
 'ICorPM',
 'RemoteWork',
 'PurchaseInfluence',
 'TechEndorseIntro',
 'TechEndorse_1',
 'TechEndorse_2',
 'TechEndorse_3',
 'TechEndorse_4',
 'TechEndorse_5',
 'TechEndorse_6',
 'TechEndorse_7',
 'TechEndorse_8',
 'TechEndorse_9',
 'TechEndorse_13',
 'TechEndorse_13_TEXT',
 'TechOppose_1',
 'TechOppose_2',
 'TechOppose_3',
 'TechOppose_5',
 'TechOppose_7',
 'TechOppose_9',
 'TechOppose_11',
 'TechOppose_13',
 'TechOppose_16',
 'TechOppose_15',
 'TechOppose_15_TEXT',
 'Industry',
 'JobSatPoints_1',
 'JobSatPoints_4',
 'JobSatPoints_5',
 'JobSatPoints_6',
 'JobSatPoints_7',
 'JobSatPoints_8',
 'JobSatPoints_9',
 'JobSatPoints_10',
 'JobSatPoints_11',
 'JobSatPoints_13',
 'JobSatPoints_14',
 'JobSatPoints_15',
 'JobSatPoints_16',
 'JobSatPoints_15_TEXT',
 'AIThreat',
 'NewRole',
 'ToolCountWork',
 'ToolCountPersonal',
 'Country',
 'Currency',
 'CompTotal',
 'LanguageChoice',
 'LanguageHaveWorkedWith',
 'LanguageWantToWorkWith',
 'LanguageAdmired',
 'LanguagesHaveEntry',
 'LanguagesWantEntry',
 'DatabaseChoice',
 'DatabaseHaveWorkedWith',
 'DatabaseWantToWorkWith',
 'DatabaseAdmired',
 'DatabaseHaveEntry',
 'DatabaseWantEntry',
 'PlatformChoice',
 'PlatformHaveWorkedWith',
 'PlatformWantToWorkWith',
 'PlatformAdmired',
 'PlatformHaveEntry',
 'PlatformWantEntry',
 'WebframeChoice',
 'WebframeHaveWorkedWith',
 'WebframeWantToWorkWith',
 'WebframeAdmired',
 'WebframeHaveEntry',
 'WebframeWantEntry',
 'DevEnvsChoice',
 'DevEnvsHaveWorkedWith',
 'DevEnvsWantToWorkWith',
 'DevEnvsAdmired',
 'DevEnvHaveEntry',
 'DevEnvWantEntry',
 'SOTagsHaveWorkedWith',
 'SOTagsWantToWorkWith',
 'SOTagsAdmired',
 'SOTagsHaveEntry',
 'SOTagsWant Entry',
 'OpSysPersonal use',
 'OpSysProfessional use',
 'OfficeStackAsyncHaveWorkedWith',
 'OfficeStackAsyncWantToWorkWith',
 'OfficeStackAsyncAdmired',
 'OfficeStackHaveEntry',
 'OfficeStackWantEntry',
 'CommPlatformHaveWorkedWith',
 'CommPlatformWantToWorkWith',
 'CommPlatformAdmired',
 'CommPlatformHaveEntr',
 'CommPlatformWantEntr',
 'AIModelsChoice',
 'AIModelsHaveWorkedWith',
 'AIModelsWantToWorkWith',
 'AIModelsAdmired',
 'AIModelsHaveEntry',
 'AIModelsWantEntry',
 'SOAccount',
 'SOVisitFreq',
 'SODuration',
 'SOPartFreq',
 'SO_Dev_Content',
 'SO_Actions_1',
 'SO_Actions_16',
 'SO_Actions_3',
 'SO_Actions_4',
 'SO_Actions_5',
 'SO_Actions_6',
 'SO_Actions_9',
 'SO_Actions_7',
 'SO_Actions_10',
 'SO_Actions_15',
 'SO_Actions_15_TEXT',
 'SOComm',
 'SOFriction',
 'AISelect',
 'AISent',
 'AIAcc',
 'AIComplex',
 'AIToolCurrently partially AI',
 "AIToolDon't plan to use AI for this task",
 'AIToolPlan to partially use AI',
 'AIToolPlan to mostly use AI',
 'AIToolCurrently mostly AI',
 'AIFrustration',
 'AIExplain',
 'AIAgents',
 'AIAgentChange',
 'AIAgent_Uses',
 'AgentUsesGeneral',
 'AIAgentImpactSomewhat agree',
 'AIAgentImpactNeutral',
 'AIAgentImpactSomewhat disagree',
 'AIAgentImpactStrongly agree',
 'AIAgentImpactStrongly disagree',
 'AIAgentChallengesNeutral',
 'AIAgentChallengesSomewhat disagree',
 'AIAgentChallengesStrongly agree',
 'AIAgentChallengesSomewhat agree',
 'AIAgentChallengesStrongly disagree',
 'AIAgentKnowledge',
 'AIAgentKnowWrite',
 'AIAgentOrchestration',
 'AIAgentOrchWrite',
 'AIAgentObserveSecure',
 'AIAgentObsWrite',
 'AIAgentExternal',
 'AIAgentExtWrite',
 'AIHuman',
 'AIOpen',
 'ConvertedCompYearly',
 'JobSat']

In [6]:
df.isnull().sum().sort_values().tail(20)

WebframeWantEntry       46497
OfficeStackHaveEntry    46536
DatabaseHaveEntry       46975
DevEnvWantEntry         47013
TechEndorse_13_TEXT     47115
TechOppose_15_TEXT      47478
OfficeStackWantEntry    47506
DatabaseWantEntry       47595
CommPlatformHaveEntr    47648
CommPlatformWantEntr    47940
AIAgentExtWrite         48265
SO_Actions_15_TEXT      48300
AIModelsHaveEntry       48348
AIAgentKnowWrite        48358
JobSatPoints_15_TEXT    48459
AIAgentOrchWrite        48646
AIModelsWantEntry       48649
SOTagsHaveEntry         48666
SOTagsWant Entry        48693
AIAgentObsWrite         48859
dtype: int64

In [7]:
df.describe()

,ResponseId,WorkExp,YearsCode,TechEndorse_1,TechEndorse_2,TechEndorse_3,TechEndorse_4,TechEndorse_5,TechEndorse_6,TechEndorse_7,...,SO_Actions_3,SO_Actions_4,SO_Actions_5,SO_Actions_6,SO_Actions_9,SO_Actions_7,SO_Actions_10,SO_Actions_15,ConvertedCompYearly,JobSat
count,49123.000000,42844.000000,43000.000000,35943.000000,35943.000000,35943.000000,35943.000000,35943.000000,35943.000000,35943.000000,...,26241.000000,26241.000000,26241.000000,26241.000000,26241.000000,26241.000000,26241.000000,26241.000000,2.392800e+04,26643.000000
mean,24562.000000,13.370810,16.575256,7.867763,4.104415,4.110341,5.678574,4.119383,5.225830,6.477562,...,5.718456,4.562097,4.791014,5.198925,5.676232,4.984033,7.100149,10.079341,1.017916e+05,7.202042
std,14180.732974,10.801917,11.789269,2.397243,2.276154,2.329539,2.397899,2.437938,2.801354,2.331433,...,2.628090,3.070817,2.643243,2.563386,2.311023,2.490411,2.469361,1.941629,4.619345e+05,1.997234
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,0.000000
25%,12281.500000,5.000000,8.000000,7.000000,2.000000,2.000000,4.000000,2.000000,3.000000,5.000000,...,3.000000,1.000000,3.000000,3.000000,4.000000,3.000000,6.000000,10.000000,3.817100e+04,6.000000
50%,24562.000000,10.000000,14.000000,9.000000,4.000000,4.000000,6.000000,4.000000,5.000000,7.000000,...,6.000000,4.000000,5.000000,5.000000,6.000000,5.000000,8.000000,10.000000,7.538350e+04,8.000000
75%,36842.500000,20.000000,24.000000,9.000000,6.000000,6.000000,8.000000,6.000000,8.000000,8.000000,...,8.000000,7.000000,7.000000,7.000000,7.000000,7.000000,9.000000,10.000000,1.206302e+05,8.000000
max,49123.000000,100.000000,100.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,...,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,5.000000e+07,10.000000

In [8]:
print(df['Country'].nunique())

177

In [9]:
top_10_countries = df['Country'].value_counts().sort_values(ascending = False).head(10)
top_10_countries

Country
United States of America                                7226
Germany                                                 3022
India                                                   2542
United Kingdom of Great Britain and Northern Ireland    2038
France                                                  1409
Canada                                                  1303
Ukraine                                                  964
Poland                                                   887
Netherlands                                              867
Italy                                                    834
Name: count, dtype: int64

In [10]:
df.duplicated().sum()

0

In [11]:
import numpy as np
df = df.replace('?', np.nan)
missing_data = df.isnull()
missing_data

,ResponseId,MainBranch,Age,EdLevel,Employment,EmploymentAddl,WorkExp,LearnCodeChoose,LearnCode,LearnCodeAI,...,AIAgentOrchestration,AIAgentOrchWrite,AIAgentObserveSecure,AIAgentObsWrite,AIAgentExternal,AIAgentExtWrite,AIHuman,AIOpen,ConvertedCompYearly,JobSat
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,False,True,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,...,True,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,True,False,True,False,False
4,False,False,False,False,False,False,False,False,True,False,...,True,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49118,False,False,False,False,False,True,False,False,False,False,...,True,True,True,True,True,True,True,True,True,False
49119,False,False,False,False,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,True
49120,False,False,False,False,False,True,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
49121,False,False,False,False,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,False
49122,False,False,False,False,False,False,False,False,True,False,...,True,True,True,True,True,True,True,True,True,False

In [12]:
for column in missing_data.columns.values.tolist():
    print (missing_data[column].value_counts())

ResponseId
False    49123
Name: count, dtype: int64
MainBranch
False    49123
Name: count, dtype: int64
Age
False    49123
Name: count, dtype: int64
EdLevel
False    48087
True      1036
Name: count, dtype: int64
Employment
False    48277
True       846
Name: count, dtype: int64
EmploymentAddl
False    44820
True      4303
Name: count, dtype: int64
WorkExp
False    42844
True      6279
Name: count, dtype: int64
LearnCodeChoose
False    46801
True      2322
Name: count, dtype: int64
LearnCode
False    33516
True     15607
Name: count, dtype: int64
LearnCodeAI
False    45153
True      3970
Name: count, dtype: int64
AILearnHow
False    28224
True     20899
Name: count, dtype: int64
YearsCode
False    43000
True      6123
Name: count, dtype: int64
DevType
False    43636
True      5487
Name: count, dtype: int64
OrgSize
False    34144
True     14979
Name: count, dtype: int64
ICorPM
False    33211
True     15912
Name: count, dtype: int64
RemoteWork
False    33747
True     15376
Name: count, dtype: int64
PurchaseInfluence
False    37402
True     11721
Name: count, dtype: int64
TechEndorseIntro
False    37520
True     11603
Name: count, dtype: int64
TechEndorse_1
False    35943
True     13180
Name: count, dtype: int64
TechEndorse_2
False    35943
True     13180
Name: count, dtype: int64
TechEndorse_3
False    35943
True     13180
Name: count, dtype: int64
TechEndorse_4
False    35943
True     13180
Name: count, dtype: int64
TechEndorse_5
False    35943
True     13180
Name: count, dtype: int64
TechEndorse_6
False    35943
True     13180
Name: count, dtype: int64
TechEndorse_7
False    35943
True     13180
Name: count, dtype: int64
TechEndorse_8
False    35943
True     13180
Name: count, dtype: int64
TechEndorse_9
False    35943
True     13180
Name: count, dtype: int64
TechEndorse_13
False    35943
True     13180
Name: count, dtype: int64
TechEndorse_13_TEXT
True     47116
False     2007
Name: count, dtype: int64
TechOppose_1
False    34227
True     14896
Name: count, dtype: int64
TechOppose_2
False    34227
True     14896
Name: count, dtype: int64
TechOppose_3
False    34227
True     14896
Name: count, dtype: int64
TechOppose_5
False    34227
True     14896
Name: count, dtype: int64
TechOppose_7
False    34227
True     14896
Name: count, dtype: int64
TechOppose_9
False    34227
True     14896
Name: count, dtype: int64
TechOppose_11
False    34227
True     14896
Name: count, dtype: int64
TechOppose_13
False    34227
True     14896
Name: count, dtype: int64
TechOppose_16
False    34227
True     14896
Name: count, dtype: int64
TechOppose_15
False    34227
True     14896
Name: count, dtype: int64
TechOppose_15_TEXT
True     47478
False     1645
Name: count, dtype: int64
Industry
False    33607
True     15516
Name: count, dtype: int64
JobSatPoints_1
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_4
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_5
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_6
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_7
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_8
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_9
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_10
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_11
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_13
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_14
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_15
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_16
False    24917
True     24206
Name: count, dtype: int64
JobSatPoints_15_TEXT
True     48460
False      663
Name: count, dtype: int64
AIThreat
False    36041
True     13082
Name: count, dtype: int64
NewRole
False    35491
True     13632
Name: count, dtype: int64
ToolCountWork
False    27582
True     21541
Name: count, dtype: int64
ToolCountPersonal
False    25555
True     23568
Name: count, dtype: int64
Country
False    35402
True     13721
Name: count, dtype: int64
Currency
False    35402
True     13721
Name: count, dtype: int64
CompTotal
False    24839
True     24284
Name: count, dtype: int64
LanguageChoice
False    32185
True     16938
Name: count, dtype: int64
LanguageHaveWorkedWith
False    31643
True     17480
Name: count, dtype: int64
LanguageWantToWorkWith
False    27054
True     22069
Name: count, dtype: int64
LanguageAdmired
True     25676
False    23447
Name: count, dtype: int64
LanguagesHaveEntry
True     45148
False     3975
Name: count, dtype: int64
LanguagesWantEntry
True     45978
False     3145
Name: count, dtype: int64
DatabaseChoice
False    31659
True     17464
Name: count, dtype: int64
DatabaseHaveWorkedWith
False    25528
True     23595
Name: count, dtype: int64
DatabaseWantToWorkWith
True     29405
False    19718
Name: count, dtype: int64
DatabaseAdmired
True     31841
False    17282
Name: count, dtype: int64
DatabaseHaveEntry
True     46975
False     2148
Name: count, dtype: int64
DatabaseWantEntry
True     47595
False     1528
Name: count, dtype: int64
PlatformChoice
False    31233
True     17890
Name: count, dtype: int64
PlatformHaveWorkedWith
True     24889
False    24234
Name: count, dtype: int64
PlatformWantToWorkWith
True     29727
False    19396
Name: count, dtype: int64
PlatformAdmired
True     31319
False    17804
Name: count, dtype: int64
PlatformHaveEntry
True     45171
False     3952
Name: count, dtype: int64
PlatformWantEntry
True     46027
False     3096
Name: count, dtype: int64
WebframeChoice
False    31164
True     17959
Name: count, dtype: int64
WebframeHaveWorkedWith
True     26153
False    22970
Name: count, dtype: int64
WebframeWantToWorkWith
True     31500
False    17623
Name: count, dtype: int64
WebframeAdmired
True     33426
False    15697
Name: count, dtype: int64
WebframeHaveEntry
True     45833
False     3290
Name: count, dtype: int64
WebframeWantEntry
True     46497
False     2626
Name: count, dtype: int64
DevEnvsChoice
False    31051
True     18072
Name: count, dtype: int64
DevEnvsHaveWorkedWith
False    25994
True     23129
Name: count, dtype: int64
DevEnvsWantToWorkWith
True     28531
False    20592
Name: count, dtype: int64
DevEnvsAdmired
True     29653
False    19470
Name: count, dtype: int64
DevEnvHaveEntry
True     46363
False     2760
Name: count, dtype: int64
DevEnvWantEntry
True     47013
False     2110
Name: count, dtype: int64
SOTagsHaveWorkedWith
True     31217
False    17906
Name: count, dtype: int64
SOTagsWantToWorkWith
True     35547
False    13576
Name: count, dtype: int64
SOTagsAdmired
True     36894
False    12229
Name: count, dtype: int64
SOTagsHaveEntry
True     48666
False      457
Name: count, dtype: int64
SOTagsWant Entry
True     48693
False      430
Name: count, dtype: int64
OpSysPersonal use
False    31388
True     17735
Name: count, dtype: int64
OpSysProfessional use
False    28858
True     20265
Name: count, dtype: int64
OfficeStackAsyncHaveWorkedWith
False    29830
True     19293
Name: count, dtype: int64
OfficeStackAsyncWantToWorkWith
True     25940
False    23183
Name: count, dtype: int64
OfficeStackAsyncAdmired
True     26938
False    22185
Name: count, dtype: int64
OfficeStackHaveEntry
True     46536
False     2587
Name: count, dtype: int64
OfficeStackWantEntry
True     47506
False     1617
Name: count, dtype: int64
CommPlatformHaveWorkedWith
False    30038
True     19085
Name: count, dtype: int64
CommPlatformWantToWorkWith
True     25793
False    23330
Name: count, dtype: int64
CommPlatformAdmired
True     26267
False    22856
Name: count, dtype: int64
CommPlatformHaveEntr
True     47648
False     1475
Name: count, dtype: int64
CommPlatformWantEntr
True     47940
False     1183
Name: count, dtype: int64
AIModelsChoice
False    30210
True     18913
Name: count, dtype: int64
AIModelsHaveWorkedWith
True     32862
False    16261
Name: count, dtype: int64
AIModelsWantToWorkWith
True     37291
False    11832
Name: count, dtype: int64
AIModelsAdmired
True     37851
False    11272
Name: count, dtype: int64
AIModelsHaveEntry
True     48348
False      775
Name: count, dtype: int64
AIModelsWantEntry
True     48649
False      474
Name: count, dtype: int64
SOAccount
False    32767
True     16356
Name: count, dtype: int64
SOVisitFreq
False    32680
True     16443
Name: count, dtype: int64
SODuration
False    32597
True     16526
Name: count, dtype: int64
SOPartFreq
False    32200
True     16923
Name: count, dtype: int64
SO_Dev_Content
True     26303
False    22820
Name: count, dtype: int64
SO_Actions_1
False    26241
True     22882
Name: count, dtype: int64
SO_Actions_16
True     24802
False    24321
Name: count, dtype: int64
SO_Actions_3
False    26241
True     22882
Name: count, dtype: int64
SO_Actions_4
False    26241
True     22882
Name: count, dtype: int64
SO_Actions_5
False    26241
True     22882
Name: count, dtype: int64
SO_Actions_6
False    26241
True     22882
Name: count, dtype: int64
SO_Actions_9
False    26241
True     22882
Name: count, dtype: int64
SO_Actions_7
False    26241
True     22882
Name: count, dtype: int64
SO_Actions_10
False    26241
True     22882
Name: count, dtype: int64
SO_Actions_15
False    26241
True     22882
Name: count, dtype: int64
SO_Actions_15_TEXT
True     48300
False      823
Name: count, dtype: int64
SOComm
False    31678
True     17445
Name: count, dtype: int64
SOFriction
False    30763
True     18360
Name: count, dtype: int64
AISelect
False    33686
True     15437
Name: count, dtype: int64
AISent
False    33434
True     15689
Name: count, dtype: int64
AIAcc
False    33264
True     15859
Name: count, dtype: int64
AIComplex
False    33250
True     15873
Name: count, dtype: int64
AIToolCurrently partially AI
True     28120
False    21003
Name: count, dtype: int64
AIToolDon't plan to use AI for this task
False    25358
True     23765
Name: count, dtype: int64
AIToolPlan to partially use AI
True     26592
False    22531
Name: count, dtype: int64
AIToolPlan to mostly use AI
True     36322
False    12801
Name: count, dtype: int64
AIToolCurrently mostly AI
True     37913
False    11210
Name: count, dtype: int64
AIFrustration
False    31491
True     17632
Name: count, dtype: int64
AIExplain
False    26561
True     22562
Name: count, dtype: int64
AIAgents
False    31890
True     17233
Name: count, dtype: int64
AIAgentChange
False    31647
True     17476
Name: count, dtype: int64
AIAgent_Uses
True     36816
False    12307
Name: count, dtype: int64
AgentUsesGeneral
True     43323
False     5800
Name: count, dtype: int64
AIAgentImpactSomewhat agree
True     38988
False    10135
Name: count, dtype: int64
AIAgentImpactNeutral
True     39458
False     9665
Name: count, dtype: int64
AIAgentImpactSomewhat disagree
True     43339
False     5784
Name: count, dtype: int64
AIAgentImpactStrongly agree
True     42441
False     6682
Name: count, dtype: int64
AIAgentImpactStrongly disagree
True     45347
False     3776
Name: count, dtype: int64
AIAgentChallengesNeutral
True     27844
False    21279
Name: count, dtype: int64
AIAgentChallengesSomewhat disagree
True     37007
False    12116
Name: count, dtype: int64
AIAgentChallengesStrongly agree
True     26041
False    23082
Name: count, dtype: int64
AIAgentChallengesSomewhat agree
True     27196
False    21927
Name: count, dtype: int64
AIAgentChallengesStrongly disagree
True     39818
False     9305
Name: count, dtype: int64
AIAgentKnowledge
True     45723
False     3400
Name: count, dtype: int64
AIAgentKnowWrite
True     48358
False      765
Name: count, dtype: int64
AIAgentOrchestration
True     45363
False     3760
Name: count, dtype: int64
AIAgentOrchWrite
True     48646
False      477
Name: count, dtype: int64
AIAgentObserveSecure
True     46432
False     2691
Name: count, dtype: int64
AIAgentObsWrite
True     48859
False      264
Name: count, dtype: int64
AIAgentExternal
True     40797
False     8326
Name: count, dtype: int64
AIAgentExtWrite
True     48265
False      858
Name: count, dtype: int64
AIHuman
False    29167
True     19956
Name: count, dtype: int64
AIOpen
True     26605
False    22518
Name: count, dtype: int64
ConvertedCompYearly
True     25195
False    23928
Name: count, dtype: int64
JobSat
False    26643
True     22480
Name: count, dtype: int64

In [13]:
df_edlv = df[['EdLevel']]
df_edlv.isnull().sum()

EdLevel    1036
dtype: int64

In [14]:
df_edlv.value_counts()

EdLevel
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          20247
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       12575
Some college/university study without earning a degree                                 6175
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     3627
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         2620
Associate degree (A.A., A.S., etc.)                                                    1560
Other (please specify):                                                                 701
Primary/elementary school                                                               582
Name: count, dtype: int64

## Columns select based on research object

In [15]:
df1 = df[['ResponseId', 'MainBranch', 'Age', 'EdLevel', 'Employment', 'WorkExp', 'YearsCode', 'DevType', 'OrgSize', 'Country',
 'Currency', 'CompTotal', 'Industry','LanguageHaveWorkedWith', 'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
 'PlatformHaveWorkedWith', 'PlatformWantToWorkWith', 'WebframeHaveWorkedWith', 'WebframeWantToWorkWith', 'DevEnvsHaveWorkedWith',
 'DevEnvsWantToWorkWith','ConvertedCompYearly', 'JobSat']]
df1

,ResponseId,MainBranch,Age,EdLevel,Employment,WorkExp,YearsCode,DevType,OrgSize,Country,...,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,DevEnvsHaveWorkedWith,DevEnvsWantToWorkWith,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,25-34 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed,8.0,14.0,"Developer, mobile",20 to 99 employees,Ukraine,...,Cloud Firestore;PostgreSQL,NaN,Amazon Web Services (AWS);Cloudflare;Firebase;...,NaN,NaN,NaN,Android Studio;Notepad++;Visual Studio;Visual ...,NaN,61256.0,10.0
1,2,I am a developer by profession,25-34 years old,"Associate degree (A.A., A.S., etc.)",Employed,2.0,10.0,"Developer, back-end",500 to 999 employees,Netherlands,...,Dynamodb;MongoDB,Dynamodb;MongoDB,Amazon Web Services (AWS);Datadog;Docker;Homeb...,Amazon Web Services (AWS);Datadog;Docker;Homeb...,Spring Boot,Spring Boot,IntelliJ IDEA;PyCharm;Visual Studio Code;Xcode,IntelliJ IDEA;PyCharm;Visual Studio Code;Xcode,104413.0,9.0
2,3,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Independent contractor, freelancer, or self-em...",10.0,12.0,"Developer, front-end",NaN,Ukraine,...,MongoDB;MySQL;PostgreSQL,Firebase Realtime Database;MongoDB,Datadog;Firebase;npm;pnpm,Amazon Web Services (AWS);Firebase;npm;pnpm;Vite,Next.js;Node.js;React,Next.js;Node.js;React,Visual Studio Code,Visual Studio Code;Windsurf,53061.0,8.0
3,4,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed,4.0,5.0,"Developer, back-end","10,000 or more employees",Ukraine,...,NaN,NaN,Amazon Web Services (AWS);Google Cloud,Amazon Web Services (AWS);Google Cloud,Spring Boot,Spring Boot,NaN,NaN,36197.0,6.0
4,5,I am a developer by profession,35-44 years old,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",21.0,22.0,Engineering manager,NaN,Ukraine,...,Elasticsearch;Microsoft SQL Server;MySQL;Oracl...,Elasticsearch;Oracle;PostgreSQL,Amazon Web Services (AWS);APT;Docker;Make;Mave...,Amazon Web Services (AWS);APT;Docker;Maven (bu...,Angular;ASP.NET;ASP.NET Core;Flask;jQuery,Angular;ASP.NET Core;Flask,Eclipse;IntelliJ IDEA;Jupyter Notebook/Jupyter...,IntelliJ IDEA;Jupyter Notebook/JupyterLab;Note...,60000.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49118,49119,I am a developer by profession,25-34 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed,9.0,13.0,"Developer, full-stack",500 to 999 employees,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
49119,49120,I am a developer by profession,35-44 years old,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed,13.0,15.0,"Developer, full-stack","1,000 to 4,999 employees",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49120,49121,I am a developer by profession,25-34 years old,"Secondary school (e.g. American high school, G...",Employed,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49121,49122,I am a developer by profession,25-34 years old,"Associate degree (A.A., A.S., etc.)",Employed,10.0,14.0,"Developer, full-stack",20 to 99 employees,France,...,Microsoft SQL Server;MySQL,MariaDB;MongoDB;PostgreSQL;SQLite,NaN,NaN,NaN,NaN,Visual Studio,Bolt;Claude Code;Cursor;Visual Studio;Visual S...,NaN,7.0
49122,49123,I am a developer by profession,25-34 years old,Some college/university study without earning ...,Employed,10.0,15.0,"Developer, full-stack",Less than 20 employees,Italy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0

In [16]:
df1.isnull().sum()

ResponseId                    0
MainBranch                    0
Age                           0
EdLevel                    1036
Employment                  846
WorkExp                    6279
YearsCode                  6123
DevType                    5487
OrgSize                   14979
Country                   13721
Currency                  13721
CompTotal                 24284
Industry                  15516
LanguageHaveWorkedWith    17480
LanguageWantToWorkWith    22069
DatabaseHaveWorkedWith    23595
DatabaseWantToWorkWith    29405
PlatformHaveWorkedWith    24889
PlatformWantToWorkWith    29727
WebframeHaveWorkedWith    26153
WebframeWantToWorkWith    31500
DevEnvsHaveWorkedWith     23129
DevEnvsWantToWorkWith     28531
ConvertedCompYearly       25195
JobSat                    22480
dtype: int64

In [17]:
df1['Age'].value_counts()

Age
25-34 years old      16485
35-44 years old      13232
18-24 years old       9195
45-54 years old       6265
55-64 years old       2626
65 years or older      942
Prefer not to say      378
Name: count, dtype: int64

In [18]:
df1['WorkExp'].value_counts()

WorkExp
10.0    2883
3.0     2611
5.0     2561
1.0     2450
2.0     2400
        ...
82.0       1
88.0       1
63.0       1
75.0       1
66.0       1
Name: count, Length: 72, dtype: int64

### Validate data based on age and working experience

In [19]:
map_exp_age = {'18-24 years old': 6,
               '25-34 years old': 16, 
               '35-44 years old': 26,
               '45-54 years old': 36,
               '55-64 years old': 46,
               '65 years or older': 56,
               'Prefer not to say': 30}

In [20]:
df1 = df1.copy()
df1.loc[:,'MaxExp'] = df1['Age'].map(map_exp_age)

In [21]:
df1_clean = df1[df1['WorkExp'] <= df1['MaxExp']].drop(columns='MaxExp')

In [22]:
df1_clean['WorkExp'].value_counts()

WorkExp
10.0    2848
3.0     2611
5.0     2561
1.0     2450
2.0     2400
15.0    2225
4.0     2162
20.0    2064
8.0     1899
6.0     1809
7.0     1698
25.0    1641
12.0    1576
9.0     1203
30.0    1177
13.0    1175
11.0    1082
14.0     906
18.0     870
16.0     741
17.0     734
35.0     548
19.0     540
22.0     516
21.0     454
28.0     433
40.0     428
26.0     407
27.0     395
23.0     377
24.0     377
29.0     199
45.0     178
32.0     178
33.0     169
31.0     160
34.0     132
36.0     127
38.0     124
37.0     117
42.0     113
50.0      80
39.0      79
43.0      65
41.0      50
46.0      36
47.0      26
44.0      26
55.0      18
54.0      13
48.0      11
51.0      11
52.0      10
49.0       8
53.0       7
56.0       5
Name: count, dtype: int64

In [23]:
df1_clean.shape

(42249, 25)

In [24]:
df1_clean.to_csv('master_clean.csv') # save data for further analysis